html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /* Disables pull-to-refresh and overscroll glow effect. */
  overscroll-behavior-y: none;
}

/* This will allow the footer to stay at the bottom of the page or the bottom of the content. */
.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.page footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: gainsboro;
}

a {
  color: #00B7FF;
}

form .btn {
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

#message {
  margin: 10px 0;
}

#message ul {
  padding: 0;
  margin: 0;
}

#message li {
  list-style: none;
  padding: 10px;
}

#message .success {
  background-color: green;
  color: white;
}

#message .error {
  background-color: red;
  color: white;
}
