extends layout

block content
  h1= title
  .mt-4
  div.errors
    if errors
      each error, index in errors
        div.alert.alert-danger= error.param
  form(method="POST" action="/categories/edit/" + id)
    div.mb-3
      label.form-label(for="title") Title
      input.form-control(type="text" name="title" id="title" value=category.title)
    div.mb-3
      label.form-label(for="description") Description
      textarea.form-control(name="description" id="description" cols="30" rows="10")= category.description

    button.btn.btn-primary(type="submit" name="submit") Update
    a.btn.btn-secondary(href="/manage/categories") Back
    a.btn.btn-danger(href="/manage/categories/delete/" + id) Delete
