html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /* Disables pull-to-refresh and overscroll glow effect. */
  overscroll-behavior-y: none;
}

main>.container {
  padding: 60px 15px 0;
}

a {
  color: #00B7FF;
}

a.link {
  margin-left: 10px;
  margin-right: 10px;
}

form .btn {
  width: 80px;
  margin-right: 10px;
}
