doctype html
html.h-100(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    meta(name='description' content='PC Repair Website')
    meta(name='author' content='Quintin Henn (http://www.skerwe.web.za)')

    link(rel='icon' href='favicon.ico')
    link(rel='canonical' href='http://localhost:3000/')

    title= title

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(name="theme-color" content="#7952b3")

  body.d-flex.flex-column.h-100

    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
      div.container
        div.navbar-header
          a.navbar-brand(href='/') PC Repair Website
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-md-0
            li.nav-item(class= title=='Home' ? 'active' : undefined): a.nav-link.active(href='/') Home
            li.nav-item(class= title=='About' ? 'active' : undefined): a.nav-link(href='/about') About
            li.nav-item(class= title=='Services' ? 'active' : undefined): a.nav-link(href='/services') Services
            li.nav-item(class= title=='Contact' ? 'active' : undefined): a.nav-link(href='/contact') Contact

    main.flex-shrink-0
      div.container
        block content

    footer.footer.mt-auto.py-3.bg-light
      div.container
        span.text-muted PC Repair &copy; 2021

    script(src='/javascripts/jquery-3.6.0.min.js')
    script(src='/javascripts/bootstrap.bundle.js')
