extends layout

block content
  h1 About Us
  p
    | Nya nya nyan crusty butthole and use lap as chair love to play with owner's hair tie for hey! you there, with the hands catasstrophe, yet what the heck just happened, something feels fishy. Kitty poochy cat slap dog in face kitty kitty. Pretend not to be evil stare at imaginary bug eat a rug and furry furry hairs everywhere oh no human coming lie on counter don't get off counter so catching very fast laser pointer.
  p
    | Nya nya nyan crusty butthole and use lap as chair love to play with owner's hair tie for hey! you there, with the hands catasstrophe, yet what the heck just happened, something feels fishy. Kitty poochy cat slap dog in face kitty kitty. Pretend not to be evil stare at imaginary bug eat a rug and furry furry hairs everywhere oh no human coming lie on counter don't get off counter so catching very fast laser pointer.
