extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p Is your computer running slow? Or maybe not att all? Call us for a quick and easy quote
          p: a.btn.btn-primary.btn-lg(href='') Read More
        .col-md-5
          img(src='images/mouse.png')
  .row
    .col-md-4
      .well
        h4 Hardware Problems?
        p Nya nya nyan crusty butthole and use lap as chair love to play with owner's hair tie for hey! you there, with the hands catasstrophe, yet what the heck just happened, something feels fishy. Kitty poochy cat slap dog in face kitty kitty. Pretend not to be evil stare at imaginary bug eat a rug and furry furry hairs everywhere oh no human coming lie on counter don't get off counter so catching very fast laser pointer.
    .col-md-4
      .well
        h4 Software Problems?
        p Nya nya nyan crusty butthole and use lap as chair love to play with owner's hair tie for hey! you there, with the hands catasstrophe, yet what the heck just happened, something feels fishy. Kitty poochy cat slap dog in face kitty kitty. Pretend not to be evil stare at imaginary bug eat a rug and furry furry hairs everywhere oh no human coming lie on counter don't get off counter so catching very fast laser pointer.
    .col-md-4
      .well
        h4 PC Tune Up
        p Nya nya nyan crusty butthole and use lap as chair love to play with owner's hair tie for hey! you there, with the hands catasstrophe, yet what the heck just happened, something feels fishy. Kitty poochy cat slap dog in face kitty kitty. Pretend not to be evil stare at imaginary bug eat a rug and furry furry hairs everywhere oh no human coming lie on counter don't get off counter so catching very fast laser pointer.
