extends layout

block content
  h1 #{title}

  each service, i in services
    div.card.card-body.bg-light.mb-2
      h3 #{service.name}
      p #{service.description}
      p
        | Price Range: #{service.price_range}
