extends layout

block content
  h1= title

  .row
    .col-5
      #error
      section#userFormWrap.py-4
        h2 Create Username
        form#userForm
          .form-group
            label(for="username") Email address
            input#username.form-control.mt-2(type="text" aria-describedby="usernameHelp" placeholder="Enter a username ...")
            small#usernameHelp.form-text.text-muted We'll never share your username with anyone else.
          button.btn.btn-primary.mt-3(type="submit") Submit

      section#chatFormWrap.py-4
        h2 Speak Your Mind
        form#chatForm
          .form-group
            label(for="message") Message
            textarea#message.form-control.mt-2(aria-describedby="messageHelp")
            small#messageHelp.form-text.text-muted No more than 100 characters!
          button.btn.btn-primary.mt-3(type="submit") Send

      section.well.py-4
        #chatWindow

    .col
      side.pl-5
        h2 Chat Users
        ul.list-group.mt-2
          #users
