extends layout

block content
  h1 #{title}
  form(method="POST", action="contact/send")
    div.mb-3
      .form-group
        label.form-label(for="name") Name
        input.form-control(id="name", type="text", name="name", placeholder="Enter your name")
    div.mb-3
      .form-group
        label.form-label(for="email") Email
        input.form-control(id="email", type="email", name="email", placeholder="Enter your email")
        div.form-text(id="emailHelp") We'll never share your email with anyone else.
    div.mb-3
      .form-group
        label.form-label(for="message") Message
        textarea.form-control(id="message", name="message", cols="30", rows="10", placeholder="Please enter your message here")
