html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /* Disables pull-to-refresh and overscroll glow effect. */
  overscroll-behavior-y: none;
}

main>.container {
  padding: 60px 15px 0;
}

a {
  color: #00B7FF;
}

form .btn {
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

#message {
  margin: 10px 0;
}

#message ul {
  padding: 0;
  margin: 0;
}

#message li {
  list-style: none;
  padding: 10px;
}

#message .success {
  background-color: green;
  color: white;
}

#message .error {
  background-color: red;
  color: white;
}
