extends layout

block content
  .row
    .col-10
      h1= title
    .col-2.text-end
      a.btn.btn-sm.btn-primary(role="button" href="/manage/categories/add" style="margin-top: 10px; margin-right: 8px") Add Category

  != messages()
  .mt-4
  table.table.table-striped
    thead
      tr
        th(scope="col") #
        th(scope="col") Title
        th(scope="col") Description
        th(scope="col")
        th(scope="col")
    tbody
      each category, index in categories
        tr
          td.align-middle(scope="row")= index + 1
          td.align-middle= category.title
          td.align-middle= category.description
          td
            a.btn.btn-sm.btn-outline-secondary(role="button" href="/manage/categories/edit/" + index) Edit
          td
            a.btn.btn-sm.btn-outline-danger(role="button" href="/manage/categories/delete/" + index) Delete
